<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhoneBook</title>
    <script src="/js/vendor/jquery-3.1.1.min.js"></script>
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/css/vendor/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/jquery.json.js"></script>
    <script src="/js/app.js"></script>

</head>
<body>

<div class="page-header">
    <h1 class="inline-text">PhoneBook</h1>
    <a class="btn btn-default btn-lg pull-right" href="/logout">Log out</a>
</div>
<div class="container">
    <table id="contact-table" class="table table-striped">
        <thead>
        <tr>
            <th>Last name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Mobile phone</th>
            <th>Home phone</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addModal">Add new Contact</button>

    <!-- Modal Add -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addModalLabel">Add new contact</h4>
                </div>
                <div class="modal-body">
                    <form class="form-add-contact" id="add-contact-form" action="contacts/add" method="post">

                        <label for="add_lastname">Last name*</label>
                        <input name="lastname" id="add_lastname" class="form-control" placeholder="Lastname" required autofocus>

                        <label for="add_firstname">First name*</label>
                        <input name="firstname" id="add_firstname" class="form-control" placeholder="First name" required >

                        <label for="add_middlename">Middle name*</label>
                        <input name="middlename" id="add_middlename" class="form-control" placeholder="Middle name" required>

                        <label for="add_mobilePhone">Mobile phone*</label>
                        <input name="mobilePhone" id="add_mobilePhone" class="form-control" placeholder="Mobile phone" required>

                        <label for="add_homePhone">Home Phone</label>
                        <input name="homePhone" id="add_homePhone" class="form-control" placeholder="Home phone">

                        <label for="add_address">Address</label>
                        <input name="address" id="add_address" class="form-control" placeholder="Address">

                        <label for="add_email">Email</label>
                        <input name="email" id="add_email" class="form-control" placeholder="email">

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Edit -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editModalLabel">Edit contact</h4>
                </div>
                <div class="modal-body">
                    <form class="form-edit-contact" id="edit-contact-form" action="contacts/edit" method="post">

                        <label for="edit_lastname">Last name*</label>
                        <input name="lastname" id="edit_lastname" class="form-control" placeholder="Lastname" required autofocus>

                        <label for="edit_firstname">First name*</label>
                        <input name="firstname" id="edit_firstname" class="form-control" placeholder="First name" required >

                        <label for="edit_middlename">Middle name*</label>
                        <input name="middlename" id="edit_middlename" class="form-control" placeholder="Middle name" required>

                        <label for="edit_mobilePhone">Mobile phone*</label>
                        <input name="mobilePhone" id="edit_mobilePhone" class="form-control" placeholder="Mobile phone" required>

                        <label for="edit_homePhone">Home Phone</label>
                        <input name="homePhone" id="edit_homePhone" class="form-control" placeholder="Home phone">

                        <label for="edit_address">Address</label>
                        <input name="address" id="edit_address" class="form-control" placeholder="Address">

                        <label for="edit_email">Email</label>
                        <input name="email" id="edit_email" class="form-control" placeholder="email">

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


</body>
</html>